<ion-header>
    <ion-navbar color="dark">
        <ion-title>My Books</ion-title>
        <ion-buttons end>
            <button ion-button color="primary" title="QR Code Scan" (click)="goToQRScanPage()">
                <img src="assets/img/scan_icon.png">
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-searchbar #searchBar color="secondary" placeholder="Search with book name" (ionInput)="filterBooksByTitle($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
    <div *ngIf="noBooksMessage">
        <p class="notBookAvailable">You don't have any books yet! Get one now!!!</p>
        <button block ion-button class="btn" (click)="goToQRScanPage()">Scan QR Code</button>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col col-6 *ngFor="let book of searchedBooks" tappable (click)="openMedia(book.bookUrl)">
                <ion-card>
                    <ion-card-content>
                        <img [src]="book.imageUrl" height="175px">
                        <p>{{book.title}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>