page-my-books {
    .bar-buttons {
        width: 55px;
        margin-right: -4px;
        img {
            width: 70%;
            box-shadow: none;
        }
    }
    .notBookAvailable {
        text-align: center;
        font-size: 40px;
        font-weight: 100;
    }
    .card {
        margin: 0;
        width: 100%;
    }
    .grid {
        padding: 0;
    }
    .scroll-content {
        padding: 11px !important;
    }
    .card-content {
        padding: 10px 5px;
        text-align: center;
    }
}