page-scan-book {
    .showContent {
        display: block;
    }
    .hideContent {
        display: none;
    }
    ion-card-content {
        padding: 0px !important;
    }
}

ion-app.cameraView,
ion-app.cameraView ion-content,
ion-app.cameraView .nav-decor {
    background: transparent none !important;
}